body {
  background-image: url(./bg.png);
  /* background-size: 30%; */
  background-repeat: no-repeat;
}

.App {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .beanie-baby {
   margin: 20px;
 } */

/* .beanie-baby .-img {
   width: 200px;
 } */

.pokemons {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokemon-detail {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.pokemon-detail img {
  cursor: pointer;
  width: 400px;
}

.pokemon-detail .pokemon-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-detail .pokemon-data p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}
